/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Cacao implementation : © Paul Barbieux <paul.barbieux@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * cacao.css
 *
 * Cacao stylesheet
 *
 */
@use "sass:math";
 :root {
	--z_index_anim : 10;
}

#jungle_display {
	box-sizing: border-box;
}

/*
	Scrollable area
*/
@import "scrollmapWithZoom";
#map_container {
    position: relative;
    width: 100%;
    height: 600px;
}

/*
	Tiles
*/
.tile,
.jungle,
.worker {
	background-image:url(img/tiles.png);
	background-size: 500% 700%;
	background-repeat:none;
	display: block;
	width: 120px;
	height: 120px;
	border-radius: 5px;
	border: solid 2px #5A9735;
	border-top-color: #A3D588;
	border-bottom-color: #447C2C;
	background-origin: border-box;
	// -webkit-box-sizing: border-box;
  	// -moz-box-sizing: border-box;
  	box-sizing: border-box;
	transition-property: border-color, box-shadow;
	transition-duration: 0.3s;
}
.tile.selected {
	border-color: #0000FF;
	box-shadow: inset 0 0 10px 0 #0000FF;
}
.tile.last {
	border-color: #0000FF;
}
.tile.overbuild {
	box-shadow: 0 0 7px rgb(0, 0, 0);
}
.jungle,
.worker {
	position: absolute;
}
/*
	Rotate symbol
*/
#rotate_click {
	background-image:url(img/rotate.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	cursor: pointer;
}


$tiles_sprite_columns : 5;
$tiles_sprite_lines : 7;
@function background_size($i, $n) {
	@return math.div($n, $i) * 100%;
}
@function calc_background_pos_from_index($i, $n) {
	$div: if($n==1,1,$n - 1);
	@return math.div($i,$div) * 100%;
}
@function calc_background_pos($pos, $size, $totalsize) {
	$div: if($totalsize==$size,1,$totalsize - $size);
	@return math.div($pos,$div) * 100%;
}
@mixin tile_background_position($x:0, $y:0) {
	background-position: calc_background_pos_from_index($x, 5) calc_background_pos_from_index($y, 7);
}

/*
	Jungle tiles (shift -1px because border 2px)
*/
.tile_plantation_1 {
	@include tile_background_position(0, 0);
}
.tile_plantation_2 {
	@include tile_background_position(1,0);
}
.tile_market_2 {
	@include tile_background_position(0,1);
}
.tile_market_3 {
	@include tile_background_position(1,1);
}
.tile_market_4 {
	@include tile_background_position(2,1);
}
.tile_temples {
	@include tile_background_position(0,2);
}
.tile_sun {
	@include tile_background_position(1,2);
}
.tile_source {
	@include tile_background_position(2,2);
}
.tile_mine_1 {
	@include tile_background_position(3,2);
}
.tile_mine_2 {
	@include tile_background_position(4,2);
}
/* Back jungle temples when score is computed */
.jungle.tile_back {
	background-position: tile_background_position(4,0);
}
.jungle.tile_back > SPAN {
	display: block;
	width: 100%;
	text-align: center;
	padding-top: 30px;
	font-size: 50px;
	color: #FFF;
	font-weight: bold;
}
/*
	Worker tiles (shift -1px because border 2px)
*/
.tile_worker_1111.color_w {
	@include tile_background_position(0,3);
}
.tile_worker_2101.color_w {
	@include tile_background_position(1,3);
}
.tile_worker_3001.color_w {
	@include tile_background_position(2,3);
}
.tile_worker_3100.color_w {
	@include tile_background_position(3,3);
}
.tile_worker_1111.color_p {
	@include tile_background_position(0,4);
}
.tile_worker_2101.color_p {
	@include tile_background_position(1,4);
}
.tile_worker_3001.color_p {
	@include tile_background_position(2,4);
}
.tile_worker_3100.color_p {
	@include tile_background_position(3,4);
}
.tile_worker_1111.color_y {
	@include tile_background_position(0,5);
}
.tile_worker_2101.color_y {
	@include tile_background_position(1,5);
}
.tile_worker_3001.color_y {
	@include tile_background_position(2,5);
}
.tile_worker_3100.color_y {
	@include tile_background_position(3,5);
}
.tile_worker_1111.color_r {
	@include tile_background_position(0,6);
}
.tile_worker_2101.color_r {
	@include tile_background_position(1,6);
}
.tile_worker_3001.color_r {
	@include tile_background_position(2,6);
}
.tile_worker_3100.color_r {
	@include tile_background_position(3,6);
}
/*
	On the board
*/
#tiles_container .tile {
	position: absolute;
}
/*
	Inside player zone
*/
.hand-player {
	display: flex;
}
.hand-tiles {
	display: inline-block;
	padding: 2px;
	transition-property: background-color;
	transition-duration: 1s;
}
.hand-tiles.active {
	background-color: #00FF00;
}
.hand-tiles .tile,
.hand-tiles .worker {
	position: relative;
	width: 64px;
	height: 64px;
	display: inline-block;
	border-width: 1px;
}
.hand-tiles.active .worker {
	cursor: pointer;
	z-index: var(--z_index_anim);
}
.hand-tiles .tile-back {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-image: url(img/tiles.png);
	background-size: 500% 700%;
	border: solid 1px #AAA;
	border-top-color: #EEE;
	border-bottom-color: #555;
	border-radius: 3px;
}
.tile-back.back-w {
	@include tile_background_position(4,3);
}
.tile-back.back-p {
	@include tile_background_position(4,4);
}
.tile-back.back-y {
	@include tile_background_position(4,5);
}
.tile-back.back-r {
	@include tile_background_position(4,6);
}
/* Shadow and rotation */
.rotation_1 {
	border-color: #A3D588 #5A9735 #447C2C #5A9735;
}
.rotation_2 {
	transform: rotate(90deg);
	border-color: #5A9735 #447C2C #5A9735 #A3D588;
}
.rotation_3 {
	transform: rotate(180deg);
	border-color: #447C2C #5A9735 #A3D588 #5A9735;
}
.rotation_4 {
	transform: rotate(270deg);
	border-color: #5A9735 #A3D588 #5A9735 #447C2C;
}
/*
	Possible places on the board
*/
.place {
	position: absolute;
	display: block;
	width: 120px;
	height: 120px;
	background-color: rgba(0,0,0,0.5);
	border-radius: 5px;
	cursor: pointer;
}
.place.selected {
	background-color: rgba(255,255,255,0.5);
}	
/*
	Links along jungle tiles to activate workers
*/
.action {
	position: absolute;
	display: block;
}
.action.edge-n,
.action.edge-s {
	width: 120px;
	height: 40px;
}
.action.edge-w,
.action.edge-e {
	width: 40px;
	height: 120px;
}
.action_link {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	cursor: pointer;
	width: 120px;
	height: 120px;
	text-align: center;
	vertical-align: middle;
	font-size: 25px;
	font-weight: bold;
	padding-top: 5px;
	box-sizing: border-box;
	color: white;
	background-color: rgba(0,0,255,0.5);
	border-radius: 50%;
	transition-property: background-color height width left top padding-top;
	transition-duration: 0.3s;
}
.action_link:hover {
	background-color: #0000FF;
	color: #FFF !important;
	text-decoration: none !important;
}
.action:not(.workers_choice) .action_link:not(:last-child) {
	display: none;
}
.action.workers_choice .action_link {
	width: 40px;
	height: 40px;
}
.action.edge-n .action_link,
.action.edge-s .action_link {
	height: 40px;
}
.action.edge-w .action_link,
.action.edge-e .action_link {
	width: 40px;
}
.action.edge-w:not(.workers_choice) .action_link,
.action.edge-e:not(.workers_choice) .action_link {
	padding-top: 45px;
}
.action.workers_choice.edge-n .action_link,
.action.workers_choice.edge-s .action_link {
	top: 0;
}
.action.workers_choice.edge-n.workers-1 .activate-1,
.action.workers_choice.edge-s.workers-1 .activate-1 {
	left: 40px;
}
.action.workers_choice.edge-n.workers-2 .activate-1,
.action.workers_choice.edge-s.workers-2 .activate-1 {
	left: 20px;
}
.action.workers_choice.edge-n.workers-2 .activate-2,
.action.workers_choice.edge-s.workers-2 .activate-2 {
	left: 60px;
}
.action.workers_choice.edge-n.workers-3 .activate-1,
.action.workers_choice.edge-s.workers-3 .activate-1 {
	left: 0;
}
.action.workers_choice.edge-n.workers-3 .activate-2,
.action.workers_choice.edge-s.workers-3 .activate-2 {
	left: 40px;
}
.action.workers_choice.edge-n.workers-3 .activate-3,
.action.workers_choice.edge-s.workers-3 .activate-3 {
	left: 80px;
}
.action.workers_choice.edge-w .action_link,
.action.workers_choice.edge-e .action_link {
	left:0;
}
.action.workers_choice.edge-w.workers-1 .activate-1,
.action.workers_choice.edge-e.workers-1 .activate-1 {
	top: 40px;
}
.action.workers_choice.edge-w.workers-2 .activate-1,
.action.workers_choice.edge-e.workers-2 .activate-1 {
	top: 20px;
}
.action.workers_choice.edge-w.workers-2 .activate-2,
.action.workers_choice.edge-e.workers-2 .activate-2 {
	top: 60px;
}
.action.workers_choice.edge-w.workers-3 .activate-1,
.action.workers_choice.edge-e.workers-3 .activate-1 {
	top: 0;
}
.action.workers_choice.edge-w.workers-3 .activate-2,
.action.workers_choice.edge-e.workers-3 .activate-2 {
	top: 40px;
}
.action.workers_choice.edge-w.workers-3 .activate-3,
.action.workers_choice.edge-e.workers-3 .activate-3 {
	top: 80px;
}
/*
	Next jungle tiles
*/
#jungle_display {
	clear: both;
	background-color: #ebd5bd;
	border-radius: 8px;
	box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
	width: 130px;
	border: solid 5px #ebd5bd;
	height: 255px !important;
	transition-property: height, box-shadow, border-color;
	transition-duration: 1s;
}
#jungle_display.active {
	box-shadow: 0 3px 8px rgba(0, 255, 0, .8);
	border-color: #00FF00;
}
#jungle_display .jungle {
	transition-property: border-color;
  	transition-duration: 1s;
}
#jungle_display.active .jungle {
	cursor: pointer;
}
#jungle_display #counter_jungles {
	position: absolute;
	bottom: -30px;
	z-index: 100;
}
#jungle_display.empty {
	height: 15px !important;
}
/*
	Deck counter
*/
.pile-tiles {
	left: 0;
	width: 29px;
	height: 29px;
	background-image: url(img/piles.png);
	background-size: background_size(29px,200px) background_size(33px,50px);
	background-repeat: no-repeat;
	box-sizing: border-box;
	padding-left: 4px;
	padding-top: 4px;
}
.pile-tiles > SPAN {
	display: block;
	text-align: center;
	width: 15px;
	height: 15px;
}

@mixin pile_background_position($x:0) {
	background-position: calc_background_pos(40px+$x*40px, 29px, 200px) 0;
}

#counter_jungles.pile-tiles {
	background-size: background_size(32px,200px) background_size(39px,50px);
	background-position: 0 0;
	color: #000;
	width: 32px;
	height: 39px;
}



.player_board_content .pile-tiles {
	display: inline-block;
	width: 29px;
	height: 33px;
}
.player_board_content .pile-tiles.pile-w {
	@include pile_background_position(0);
	color: #000;
}
.player_board_content .pile-tiles.pile-p {
	@include pile_background_position(1);
	color: #FFF;
}
.player_board_content .pile-tiles.pile-y {
	@include pile_background_position(2);
	color: #000;
}
.player_board_content .pile-tiles.pile-r {
	@include pile_background_position(3);
	color: #FFF;
}

// $score_background_size: 600% 300%;
/*
	Player counters
*/
$score_sprite_w : 150px;
$score_sprite_h : 98px;
// $score_background_size: background_size(24px,$score_sprite_w) background_size(24px,$score_sprite_h);
@function score_background_size($w, $h) {
	@return background_size($w,$score_sprite_w) background_size($h,$score_sprite_h);
}
@function score_background_position($x, $y, $w, $h) {
	@return calc_background_pos($x, $w, $score_sprite_w) calc_background_pos($y, $h, $score_sprite_h);
}
@mixin score_background_props($x, $y, $w, $h) {
	background-size: score_background_size($w, $h);
	background-position: calc_background_pos($x, $w, $score_sprite_w) calc_background_pos($y, $h, $score_sprite_h);
}
.player_score_value {
	display: inline-block;
	height: 24px;
	width: 24px;
	background-image:url(img/score.png);
	background-repeat:no-repeat;
	background-position: 0 0;
	background-size: score_background_size(24px,24px);
	box-sizing: border-box;
	padding-top: 4px;
	text-align:center;
}
.player_score_value > span{
	position: relative;
	top: -2px
}
.player-counters {
	margin-top: 5px;
}
.player-counters .counter_cacao_sun DIV {
	display: inline-block;
	background-image:url(img/score.png);
}

.counter-cacao {
	width: 70px;
	background-size: score_background_size(70px,24px);
	background-position: score_background_position(80px, 49px, 70px,24px);
}
.counter-cacao > DIV{
	background-image:url(img/score.png);
	height: 24px;
}
@mixin counter_cacao_background_props($x) {
	background-size: score_background_size($x*14px,24px);
	background-position: calc_background_pos(0px, $x*14px, $score_sprite_w) calc_background_pos(49px, 24px, $score_sprite_h);
}
.counter-cacao .value-1 {
	@include counter_cacao_background_props(1);
	width:14px;
}
.counter-cacao .value-2 {
	@include counter_cacao_background_props(2);
	width:28px;
}
.counter-cacao .value-3 {
	@include counter_cacao_background_props(3);
	width:42px;
}
.counter-cacao .value-4 {
	@include counter_cacao_background_props(4);
	width:56px;
}
.counter-cacao .value-5 {
	@include counter_cacao_background_props(5);
	width:70px;
}
.counter-sun {
	width: 70px;
	background-size: score_background_size(70px,24px);
	background-position: score_background_position(80px, 24px, 70px, 24px);
}
.counter-sun > DIV {
	background-image:url(img/score.png);
	height: 24px;
}
@mixin counter_sun_background_props($x) {
	background-size: score_background_size($x*24px,24px);
	background-position: calc_background_pos(0px, $x*24px, $score_sprite_w) calc_background_pos(24px, 24px, $score_sprite_h);
}
.counter-sun .value-1 {
	@include counter_sun_background_props(1);
	width:24px;
}
.counter-sun .value-2 {
	@include counter_sun_background_props(2);
	width:48px;
}
.counter-sun .value-3 {
	@include counter_sun_background_props(3);
	width:72px;
}
$score_water_sprite_w: 223px;
$score_water_sprite_h: 222px;
.counter-water > .value {
	background-size: background_size($score_water_sprite_w,$score_water_sprite_w) background_size(25px,$score_water_sprite_h);
	width: 223px;
	height: 25px;
	background-image: url(img/score_water.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}
@function score_water_background_position($y) {
	@return 0 calc_background_pos($y*25px, 25px, $score_water_sprite_h);
}
.counter-water .value-0 {
	background-position: 0 0;
}
.counter-water .value-1 {
	background-position: score_water_background_position(1);
}
.counter-water .value-2 {
	background-position: score_water_background_position(2);
}
.counter-water .value-3 {
	background-position: score_water_background_position(3);
}
.counter-water .value-4 {
	background-position: score_water_background_position(4);
}
.counter-water .value-5 {
	background-position: score_water_background_position(5);
}
.counter-water .value-6 {
	background-position: score_water_background_position(6);
}
.counter-water .value-7 {
	background-position: score_water_background_position(7);
}
.counter-water .value-8 {
	background-position: score_water_background_position(8);
}
/*
	Moving material
*/
.moving {
	display: block;
	z-index: var(--z_index_anim);
	background-image:url(img/score.png);
}
.moving-gold {
	width: 25px;
	height: 25px;
	@include score_background_props(0px, 0px, 25px, 25px);
}
.moving-cacao {
	width: 15px;
	height: 24px;
	@include score_background_props(0px, 49px, 15px, 24px);
}
.moving-sun {
	width: 25px;
	height: 25px;
	@include score_background_props(0px, 25px, 25px, 25px);

}
.moving-water {
	width: 25px;
	height: 25px;
	@include score_background_props(25px, 0px, 25px, 25px);

}

/*
	Final statistics
*/

#popin_dialogStats {
	border-color: #A3D588 #5A9735 #447C2C #5A9735;
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
	-o-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
	border-radius: 4px;
}
#popin_dialogStats TABLE TBODY TR {
	border-top: solid 1px #A3D588;
}
#popin_dialogStats TABLE TH,
#popin_dialogStats TABLE TD {
	padding: 5px;
}
#popin_dialogStats .standard_popin_closeicon {
	color: #5A9735 !important;
	font-size: 100% !important;
}

/*
	Misc
*/

#choice_workers.disabled {
	opacity: 0.5;
	filter: alpha(opacity=50);
}